<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<rss version="2.0">
  <channel>
    <title>Visit Raleigh Events</title>
    <link>https://www.visitraleigh.com/events/</link>
    <description>Events from Visit Raleigh</description>
    <language>en-us</language>
    <lastBuildDate>Sun, 19 Oct 2025 20:40:36 -0400</lastBuildDate>
    <item>
      <title>Dorothea Dix Asylum: Dark History Tour - Recurring weekly on Friday</title>
      <link>https://www.visitraleigh.com/event/dorothea-dix-asylum%3a-dark-history-tour/92880/</link>
      <description>&amp;lt;Recurring weekly on Friday&amp;gt; &amp;lt;Times: Fri. 5:30-6:45pm&amp;gt; &amp;lt;Venue: Physician's House&amp;gt; &amp;lt;Area: Downtown Raleigh&amp;gt;</description>
      <guid>https://www.visitraleigh.com/event/dorothea-dix-asylum%3a-dark-history-tour/92880/</guid>
      <pubDate>Sun, 19 Oct 2025 20:40:36 -0400</pubDate>
      <enclosure type="image/jpeg" url="https://assets.simpleviewinc.com/sv-raleigh/image/fetch/c_fill,h_408,q_80,w_500/https://assets.simpleviewinc.com/simpleview/image/upload/crm/raleigh/external-file_edited_edited.jpg_9B478FE8-05CB-20D3-3B46EC6DA175ABBB_9b571be8-9082-c65a-2590770197d551fa.jpg"/>
    </item>
    <item>
      <title>Downtown Raleigh Guided African American History Tour - Recurring weekly on Sunday</title>
      <link>https://www.visitraleigh.com/event/downtown-raleigh-guided-african-american-history-tour/92862/</link>
      <description>&amp;lt;Recurring weekly on Sunday&amp;gt; &amp;lt;Times: From: 4:00 PM to 5:00 PM&amp;gt;</description>
      <guid>https://www.visitraleigh.com/event/downtown-raleigh-guided-african-american-history-tour/92862/</guid>
      <pubDate>Sun, 19 Oct 2025 20:40:36 -0400</pubDate>
      <enclosure type="image/jpeg" url="https://assets.simpleviewinc.com/sv-raleigh/image/fetch/c_fill,h_408,q_80,w_500/https://assets.simpleviewinc.com/simpleview/image/upload/crm/raleigh/Screen-Shot-2024-07-28-at-10.35.17-PM_DB5B0EDD-FB4A-9748-7DC95813859E9865_db5bbbda-c6c9-9d15-218a9b8b8d859afb.png"/>
    </item>
    <item>
      <title>Free Wine Tasting - Recurring weekly on Saturday</title>
      <link>https://www.visitraleigh.com/event/free-wine-tasting/92540/</link>
      <description>&amp;lt;Recurring weekly on Saturday&amp;gt; &amp;lt;Times: Noon-3pm&amp;gt; &amp;lt;Venue: Wine Authorities&amp;gt; &amp;lt;Area: Downtown Raleigh&amp;gt;</description>
      <guid>https://www.visitraleigh.com/event/free-wine-tasting/92540/</guid>
      <pubDate>Sun, 19 Oct 2025 20:40:36 -0400</pubDate>
      <enclosure type="image/jpeg" url="https://assets.simpleviewinc.com/sv-raleigh/image/fetch/c_fill,h_408,q_80,w_500/https://assets.simpleviewinc.com/simpleview/image/upload/crm/raleigh/wau_raleigh_store_22q1_web72p-37_53584C92-A3C8-9277-9337C24C97B95C4D_53ed1b0a-d5a2-969b-7f6586227f0146e2.jpg"/>
    </item>
    <item>
      <title>Andy's Raleigh Ghost Walk - Recurring weekly on Sunday, Friday until December 28, 2025</title>
      <link>https://www.visitraleigh.com/event/andys-raleigh-ghost-walk/89502/</link>
      <description>&amp;lt;Recurring weekly on Sunday, Friday until December 28, 2025&amp;gt; &amp;lt;Times: Sun. 8pm-9pm; Fri. 10pm-11pm&amp;gt; &amp;lt;Venue: Triangle Walking Tours&amp;gt; &amp;lt;Area: Downtown Raleigh&amp;gt;</description>
      <guid>https://www.visitraleigh.com/event/andys-raleigh-ghost-walk/89502/</guid>
      <pubDate>Sun, 19 Oct 2025 20:40:36 -0400</pubDate>
      <enclosure type="image/jpeg" url="https://assets.simpleviewinc.com/sv-raleigh/image/fetch/c_fill,h_408,q_80,w_500/https://assets.simpleviewinc.com/simpleview/image/upload/crm/raleigh/GxPGRy8_873B6E41-92AE-E0DA-3C75AFB3EFD06097_874eabda-ac29-85aa-e10965903ce343c4.jpg"/>
    </item>
    <item>
      <title>Raleigh African American History Tour - Recurring weekly on Sunday</title>
      <link>https://www.visitraleigh.com/event/raleigh-african-american-history-tour/88894/</link>
      <description>&amp;lt;Recurring weekly on Sunday&amp;gt; &amp;lt;Times: Sun. 4pm-5pm&amp;gt; &amp;lt;Venue: Triangle Walking Tours&amp;gt; &amp;lt;Area: Downtown Raleigh&amp;gt;</description>
      <guid>https://www.visitraleigh.com/event/raleigh-african-american-history-tour/88894/</guid>
      <pubDate>Sun, 19 Oct 2025 20:40:36 -0400</pubDate>
      <enclosure type="image/jpeg" url="https://assets.simpleviewinc.com/sv-raleigh/image/fetch/c_fill,h_408,q_80,w_500/https://assets.simpleviewinc.com/simpleview/image/upload/crm/raleigh/31bc3c_f823721ad764480098950960e150c930-mv2_68BD6423-EBBF-9FE5-57200CB810FC5244_68c0fdab-da26-901e-e34f9e7f16945ccc.jpg"/>
    </item>
    <item>
      <title>Holly Springs Farmers Market - Recurring weekly on Saturday</title>
      <link>https://www.visitraleigh.com/event/holly-springs-farmers-market/83047/</link>
      <description>&amp;lt;Recurring weekly on Saturday&amp;gt; &amp;lt;Times: May-Oct.: Sat, 8am-noon; Nov.-April: 9am-noon&amp;gt; &amp;lt;Venue: Holly Springs Farmers Market&amp;gt; &amp;lt;Area: Holly Springs&amp;gt;</description>
      <guid>https://www.visitraleigh.com/event/holly-springs-farmers-market/83047/</guid>
      <pubDate>Sun, 19 Oct 2025 20:40:36 -0400</pubDate>
      <enclosure type="image/jpeg" url="https://assets.simpleviewinc.com/sv-raleigh/image/fetch/c_fill,h_408,q_80,w_500/https://assets.simpleviewinc.com/simpleview/image/upload/crm/raleigh/HSFarmersMarket_8AED8E3A-A22C-2B96-9B6F15F45AAFBD08_8aef1081-c177-f0d1-8caa45fd20d25dbd.png"/>
    </item>
    <item>
      <title>Downtown Raleigh Murals and Public Art Tour - Recurring weekly on Saturday</title>
      <link>https://www.visitraleigh.com/event/downtown-raleigh-murals-and-public-art-tour/79777/</link>
      <description>&amp;lt;Recurring weekly on Saturday&amp;gt; &amp;lt;Times: See website for times&amp;gt; &amp;lt;Venue: Downtown Raleigh&amp;gt;</description>
      <guid>https://www.visitraleigh.com/event/downtown-raleigh-murals-and-public-art-tour/79777/</guid>
      <pubDate>Sun, 19 Oct 2025 20:40:36 -0400</pubDate>
      <enclosure type="image/jpeg" url="https://assets.simpleviewinc.com/sv-raleigh/image/fetch/c_fill,h_408,q_80,w_500/https://assets.simpleviewinc.com/simpleview/image/upload/crm/raleigh/DareToDissent_26A4F67E-E3F6-2660-78D6B827CB355E21_26de28ab-c2f3-0b38-cf432933df2b7c8e.jpg"/>
    </item>
    <item>
      <title>Aviator Brewing Company Tours - Recurring weekly on Saturday until October 16, 2027</title>
      <link>https://www.visitraleigh.com/event/aviator-brewing-company-tours/79323/</link>
      <description>&amp;lt;Recurring weekly on Saturday until October 16, 2027&amp;gt; &amp;lt;Times: 5-6:30pm&amp;gt; &amp;lt;Venue: Aviator Brewery &amp; Campus&amp;gt; &amp;lt;Area: Fuquay-Varina&amp;gt;</description>
      <guid>https://www.visitraleigh.com/event/aviator-brewing-company-tours/79323/</guid>
      <pubDate>Sun, 19 Oct 2025 20:40:36 -0400</pubDate>
      <enclosure type="image/jpeg" url="https://assets.simpleviewinc.com/sv-raleigh/image/fetch/c_fill,h_408,q_80,w_500/https://assets.simpleviewinc.com/simpleview/image/upload/crm/raleigh/plane_EE668FA2-AFFA-F2E8-D47E0FD311C4F4D2_ee886b1b-d22d-67f7-ab7dfe52464a635b.jpg"/>
    </item>
    <item>
      <title>Downtown Raleigh Tasting Tour - Recurring weekly on Friday, Saturday until May 15, 2027</title>
      <link>https://www.visitraleigh.com/event/downtown-raleigh-tasting-tour/63324/</link>
      <description>&amp;lt;Recurring weekly on Friday, Saturday until May 15, 2027&amp;gt; &amp;lt;Times: Fri., 12:45pm; Sat., 10:30am&amp;gt; &amp;lt;Venue: Taste Carolina Gourmet Food Tours&amp;gt; &amp;lt;Area: Downtown Raleigh&amp;gt;</description>
      <guid>https://www.visitraleigh.com/event/downtown-raleigh-tasting-tour/63324/</guid>
      <pubDate>Sun, 19 Oct 2025 20:40:36 -0400</pubDate>
      <enclosure type="image/jpeg" url="https://assets.simpleviewinc.com/sv-raleigh/image/fetch/c_fill,h_408,q_80,w_500/https://assets.simpleviewinc.com/simpleview/image/upload/crm/raleigh/TasteofCarolinaLogo0_9000b476-d3cb-71d1-a7adb4a29ef4bda2.jpg"/>
    </item>
    <item>
      <title>Downtown Raleigh Dinner &amp; Drinks Tour - Recurring weekly on Sunday, Saturday until October 10, 2027</title>
      <link>https://www.visitraleigh.com/event/downtown-raleigh-dinner-%26-drinks-tour/63323/</link>
      <description>&amp;lt;Recurring weekly on Sunday, Saturday until October 10, 2027&amp;gt; &amp;lt;Times: Sat., 2:30pm; Sat., 3:00pm; Sun., 3:15pm&amp;gt; &amp;lt;Venue: Taste Carolina Gourmet Food Tours&amp;gt; &amp;lt;Area: Downtown Raleigh&amp;gt;</description>
      <guid>https://www.visitraleigh.com/event/downtown-raleigh-dinner-%26-drinks-tour/63323/</guid>
      <pubDate>Sun, 19 Oct 2025 20:40:36 -0400</pubDate>
      <enclosure type="image/jpeg" url="https://assets.simpleviewinc.com/sv-raleigh/image/fetch/c_fill,h_408,q_80,w_500/https://assets.simpleviewinc.com/simpleview/image/upload/crm/raleigh/TasteofCarolinaLogo0_9000b476-d3cb-71d1-a7adb4a29ef4bda2.jpg"/>
    </item>
  </channel>
</rss>
